{% extends "layout.html" %}
{% block body %}
    <script type=text/javascript src="{{
      url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
    <script type=text/javascript src="{{
      url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{
      url_for('static', filename='js/baseconv.js') }}"></script>
    <script type=text/javascript src="{{
      url_for('static', filename='js/sha256.js') }}"></script>
    <script type=text/javascript src="{{
      url_for('static', filename='js/passgen.js') }}"></script>
    <script type=text/javascript src="{{
      url_for('static', filename='js/sitestuff.js') }}"></script>

  <div class="jumbotron">
      <div class="container">
          <h1>One Password to Rule Them All!</h1>
          <p>Remember only one password and generate all others.</p>
          <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
      </div>
  </div>
  <div class="container">
      <form name="passgen">
          <div id="standardOptions">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button" disabled>Secret word</button>
                          </span>
                          <input type="password" class="form-control" id="sword" autocomplete="off">
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button" disabled>Site</button>
                          </span>
                          <input type="text" class="form-control" id="site" autocomplete="off">
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button" disabled>Version</button>
                          </span>
                          <input type="text" class="form-control" id="version" value="1" autocomplete="off">
                      </div>
                  </div>
              </div>
          </div>
          </br>

          <div id="advancedOptions" style="display:none">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button" disabled>Username</button>
                          </span>
                          <input type="text" class="form-control" id="username" autocomplete="off">
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button" disabled>Length</button>
                          </span>
                          <input type="text" class="form-control" id="sizepass" value="15" autocomplete="off">
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button" disabled>Alphabet</button>
                          </span>
                          <input type="text" id="alphabet" class="form-control" value="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ" autocomplete="off">
                      </div>
                  </div>
          </div>
          </br>
      </div>
      </form>
      <button id="generate" type="button" class="btn btn-lg btn-success">Generate Password</button>
      <button id="advanced" type="button" class="btn btn-lg btn-info">Advanced</button>
      </br> </br>
      <div class="alert alert-success" id="passalert" style="display:none">
          <p class="flip" id="showpass">Press <strong>Ctrl+C</strong> to copy generated password or click here to show it.</button>
      </div>
      <div class="input-group" id="gengroup" style="opacity:0">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button" disabled>Generated Password</button>
          </span>
          <input type="text" class="form-control" id="generatedpass" autocomplete="off">
      </div>
  </div>

{% endblock %}
