{% extends "layout.html" %}
{% block body %}
<head>
    <script type=text/javascript src="{{
      url_for('static', filename='baseconv.js') }}"></script>
    <script type=text/javascript src="{{
      url_for('static', filename='sha256.js') }}"></script>
    <script type=text/javascript src="{{
      url_for('static', filename='passgen.js') }}"></script>
</head>
<body>
    <form name="passgen" onSubmit="return passGen()">
        Secret word: <input type="password" name="sword">
        Site: <input type="text" name="site">
        Pass Length: <input type="text" name="sizepass">
        Version: <input type="text" name="version"></br>
        <input type="submit" value="Submit">
    </form>
    </br>
    <div id="generatedpass">
    </div>
</body>
{% endblock %}
